<div class="alert alert-danger center-content" *ngIf="bidsData.length == 0">
  <strong>Alert!</strong> No Bids has ben placed yet.
</div>

<div>
  <div class="container">
    <div class="jumbotron">
      <h1>{{currentBid.auction}}</h1>
      <h1>{{currentBid.product}}</h1>
      <p>{{currentBid.description}}</p>
    </div>
    <p>Auction start On : {{currentBid.startTimeInMilliSeconds}}</p>
    <p>Auction end On : {{currentBid.endTimeInMilliSeconds}}</p>
    <!--<p *ngIf='authData == ac.creatorId'>First Bid will Start with {{ac.firstbiddingamount}} $</p>-->
    <table class="table">

      <!--<tbody *ngIf='authData == ac.creatorId'>
        <tr *ngIf='authData == ac.creatorId'>
          <td *ngIf='authData == ac.creatorId'>{{ac.userName}}</td>
          <td *ngIf='authData == ac.creatorId'>{{ac.mobNumber}}</td>
          <td *ngIf='authData == ac.creatorId'>{{ac.email}}</td>
          <td *ngIf='authData == ac.creatorId'><button type="button" class="btn btn-danger" (click)='seebids(ac)'>See Bids</button>
          </td>

        </tr>-->
      <!--</tbody>-->
    </table>
  </div>

</div>
<br><br>

<div>
  <table class="table" *ngIf="bidsData.length > 0">
    <thead>
      <tr>
        <th>Amount</th>
        <th>Placed By</th>
      </tr>
    </thead>
    <tbody *ngFor="let b of bidsData">
      <tr>
        <td>{{b.amount}}</td>
        <td>{{b.placerEmail}}</td>

      </tr>

    </tbody>
  </table>
</div>