<div class="alert alert-danger center-content" *ngIf='warning.status == true'>
    <strong>Caution!</strong> {{warning.msg}}
</div>

<div *ngIf='allAuctioneeries.length > 0'>
    <div class="container" *ngFor="let ac of allAuctioneeries">
        <div class="jumbotron">
            <h1>{{ac.auction}}</h1>
            <h1>{{ac.product}}</h1>
            <p>{{ac.description}}</p>
        </div>
        <p>Auction will start On : {{ac.isoStartTime}}</p>
        <p>Auction will end On : {{ac.isoEndTime}}</p>
        <p>First Bid will Start with {{ac.firstbiddingamount}} $</p>
        <table class="table">

            <tbody>
                <tr>
                    <td>{{ac.userName}}</td>
                    <td>{{ac.mobNumber}}</td>
                    <td>{{ac.email}}</td>
                    <td><button type="button" class="btn btn-danger" (click)="startBidding(ac)">Start Bidding</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>