<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal">Add Auction</button>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Auctioneer Information</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-warning" *ngIf='errorInformation'>
          <strong>Warning!</strong> {{errorInformationMsg}}
        </div>
        <div class="alert alert-warning" *ngIf='warningPublish'>
          <strong>Warning!</strong> {{errorInformationMsg}}
        </div>

        <form class="center-content">
          <div class="form-group">
            <label for="auction">Auction Name:</label>
            <input type="text" class="form-control" id="auction" #auction>
          </div>
          <div class="form-group">
            <label for="product">Product Name:</label>
            <input type="text" class="form-control" id="product" #product>
          </div>
          <div class="form-group">
            <label for="description">Product Description:</label>
            <textarea class="form-control" rows="5" id="description" #description></textarea>
          </div>


          <div class="form-group">
            <!--<label for="category">Category:</label>
            <select name="category" id="category" #category>
                <option *ngFor="let c of categories; let num = index">{{c}}</option>
              </select>-->


            <label for="category">Category:</label>
            <select name="category" id="category" #category>
                <option *ngFor="let c of categories; let num = index">{{c}}</option>
              </select>


          </div>
          <div class="form-group">
            <label for="startdate">Starting Date:</label>
            <input type="date" class="form-control" id="startdate" #startdate>
          </div>
          <div class="form-group">
            <label for="enddate">Ending Date:</label>
            <input type="date" class="form-control" id="enddate" #enddate>
          </div>

          <div class="form-group">
            <label for="starttime">Start Time</label>
            <select name="starttime" id="starttime" #starttime>
                <option *ngFor="let c of startOptionTime; let num = index">{{c}}</option>
              </select>

            <label for="endtime">:</label>
            <select name="endtime" id="endtime" #startminute>
                <option *ngFor="let c of minute; let num = index">{{c}}</option>
              </select>
          </div>


          <div class="form-group">

            <label for="endtime">End Time</label>
            <select name="endtime" id="endtime" #endtime>
                <option *ngFor="let c of startOptionTime; let num = index">{{c}}</option>
              </select>


            <label for="starttime">:</label>
            <select name="starttime" id="starttime" #endminute>
                <option *ngFor="let c of minute; let num = index">{{c}}</option>
              </select>


          </div>




          <label for="firstbiddingamount">First Bidding Amount:</label>
          <div class="input-group">

            <!--<input type="text" class="form-control" id="auction" #auction>-->
            <span class="input-group-addon">$:</span>
            <input id="msg" type="text" class="form-control" name="msg" #firstbiddingamount>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" *ngIf='!warningPublish' (click)='publishWarning(auction.value, product.value, description.value, startdate.value, starttime.value, enddate.value, endtime.value, firstbiddingamount.value, category.value, startminute.value, endminute.value)'>Publish Auction</button>
        <button type="button" class="btn btn-default" (click)='seveToDb(auctioneerInformation)' data-dismiss="modal" *ngIf='warningPublish'>Accept</button>
        <button type="button" class="btn btn-default" (click)='cancel(auctioneerInformation)' data-dismiss="modal" *ngIf='warningPublish'>Not Accept</button>
      </div>
    </div>

  </div>
</div>

<br><br>


<div class="alert alert-danger center-content" *ngIf='allAuctioneeries.length == 0 || allAuctioneeries == nulls '>
  <strong>Alert!</strong> No Booking Yet.
</div>

<div *ngIf='allAuctioneeries.length > 0'>
  <div class="container" *ngFor="let ac of allAuctioneeries">
    <div class="jumbotron" *ngIf='authData == ac.creatorId'>
      <h1 *ngIf='authData == ac.creatorId'>{{ac.auction}}</h1>
      <h1 *ngIf='authData == ac.creatorId'>{{ac.product}}</h1>
      <p *ngIf='authData == ac.creatorId'>{{ac.description}}</p>
    </div>
    <p *ngIf='authData == ac.creatorId'>Auction will start On : {{ac.startTimeInMilliSeconds}}</p>
    <p *ngIf='authData == ac.creatorId'>Auction will end On : {{ac.startTimeInMilliSeconds}}</p>
    <p *ngIf='authData == ac.creatorId'>First Bid will Start with {{ac.firstbiddingamount}} $</p>
    <table class="table" *ngIf='authData == ac.creatorId'>

      <tbody *ngIf='authData == ac.creatorId'>
        <tr *ngIf='authData == ac.creatorId'>
          <td *ngIf='authData == ac.creatorId'>{{ac.userName}}</td>
          <td *ngIf='authData == ac.creatorId'>{{ac.mobNumber}}</td>
          <td *ngIf='authData == ac.creatorId'>{{ac.email}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>