<nav class="navbar navbar-inverse success-background">
  <div class="container-fluid">
    <div class="navbar-header">
      <a [routerLink]="['home']" class="navbar-brand brand-link" #home>I - REALTIME AUCTION</a>
    </div>
    <ul class="nav navbar-nav" *ngIf='dataService.currentNavBar=="userAuth" '>
      <li><a [routerLink]="['auctionerr']" class="success-link">Auctioneer</a></li>
      <li><a [routerLink]="['bidder']" class="success-link">Bidder</a></li>
      <!--<li><a href="#">Page 2</a></li>-->
    </ul>
    <ul class="nav navbar-nav navbar-right" *ngIf='dataService.currentNavBar=="noAuth" '>
      <li><a [routerLink]="['signup']" class="success-link" #signup (click)='setActive(signup, signin) '><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a [routerLink]="['login']" class="success-link" #signin (click)='setActive(signin, signup) '><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" *ngIf='dataService.currentNavBar=="adminAuth" || dataService.currentNavBar=="userAuth" '>
      <li><a [routerLink]="['home']" class="success-link" #signup (click)='logout() '><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>