.success-background{
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.success-link{
    color:#ffffff !important;
}

.success-link:hover{
     color:#9d9d9d !important;
}

.brand-link{
     color:#ffffff !important;
}