<!--<div class="container custom-container">
  <div class="jumbotron custom-container">
    <h1>Parking Booking Solution</h1>
    <p>Users can get learn about parking areas for particular locations. The system provides a graphical view of the parking
      spaces. It excludes the need of human efforts for managing parking spaces</p>
  </div>

</div>-->

<div class="container-after">
  <h1>AUCTEE - Realtime Auction</h1>
  <p>Auctee -Auction app is a useful Web or Mobile app which permits buyer to buy the mobile phones, refrigerators, flat screens,
    LCD’s, etc. User can buy or sell the electronic gadgets by bidding in live auction at any time &amp; anywhere within
    the same locality. Buyer can buy his/her desired electronic gadgets at an affordable price. I-Auction app also provides
    the buyer &amp; seller to directly interact with each other. With this app you can:  Browse all upcoming auctions and
    search for particular mobile phones user wants View mobile phones images and descriptions  Leave a bid on any item
    in advance. Join the bidding competitive live in real time. Leave a Bid or Bid live in auction anywhere in the world.
    You will discover most handsets from auctioneers in Karachi and all available for purchase using this Auction app. We
    can do remote access through mobile phones or web for live auction. We can get the information about the item for auction
    and can bid for that auction.
  </p>
</div>